.service-items{
 background-image: url("https://d14ty28lkqz1hw.cloudfront.net/data/org/25970/theme/43399/img/home-banner.jpg");
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    background-position:center;
}

*{
    font-family: 'Poppins', sans-serif;

 
}
.service-font{
  
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}
hr {
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #ff0000;  /* old IE */
    background-color: #ea0303;  /* Modern Browsers */
  }
