.service-items{
 background-image: url("https://d14ty28lkqz1hw.cloudfront.net/data/org/25970/theme/43399/img/home-banner.jpg");
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    background-position:center;
 
}

*{
    font-family: 'Poppins', sans-serif;

 
}
.service-font{
  
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}
.box-font {
    font-family: 'Montserrat', sans-serif;
    font-size: small;  
}
/* .border-services {
 border-radius: 0% 100% 3% 97% / 100% 100% 0% 0%  ;

background-color: yellow;
} */